──────────────────────────────
$BBLU$$HIY$                        【游戏规则】                        $NOR$
──────────────────────────────
     $HIY$玩家有三点规则必须遵守，否则本站不予欢迎。$NOR$ $HIR$

第一.本站为公共娱乐场所，若你的游戏行为影响众多其他玩家的
     正常游戏或妨碍本站的秩序则本站将不欢迎你。此类行为包
     括但不限于在交通要道布阵，连续屠杀与任务相关的npc或
     分发任务的掌门人导致大面积玩家无法正常挂机等。出现此
     类行为经WIZ查实后将给予禁闭、删档直至封IP的处罚。

第二.游戏过程中江湖恩怨不可避免，因此允许有针对性的互相斗
     争，在不影响其他不相关的玩家正常游戏的前提下，允许pk，
     下毒，搞机器人等等。（但是此类行为不予提倡，主观上希
     望大家能互相帮助，共同营造一个祥和的游戏氛围）。

第三.不允许在公共频道刷屏或对其他玩家进行恶毒的人身攻击，
    （熟人之间有时开玩笑不在此列），否则wiz将采取必要手段
     维持正常秩序。特别是万一被pk后，希望大家都能表现得象
     个爷们，不要被杀了就骂娘。$NOR$

$HIG$以上条款最终解释权归本站WIZ组$NOR$

